/*SASS*/

//Site color
$bg-PrimColor:#E781CB;
$bg-SecColor:#1D1D1F;
$bg-PrefooterColor:#F5F5F5;


$primaryColor:#39385A;
$secondaryColor:#ffffff;


/*#E7816B
#1D1D1F
#E7816B


#39385A*/
//Global Bool
$alt-color:false;

//Background-img
/*$logo-pic:if($alt-color,"../img/Logo-white.png","..img/Logo.png");*/